<form asp-area="Inventaire" asp-controller="Local_Fourniture" asp-action="CreateFourniture" method="get">
    <p>Ajouter une nouvelle fourniture</p>
    <textarea name="nom" placeholder="Le nom de la fourniture"></textarea>
    <input type="submit" value="Ajouter" />
</form>

<br />

<form asp-area="Inventaire" asp-controller="Local_Fourniture" asp-action="newLocalisation" method="get">
   <p>Ajouter un nouveau local</p>
    <textarea name="nom" placeholder="Le nom du local"></textarea>
    <input type="submit" value="Ajouter" />
</form>

<br />

<table>
    @foreach (Localisation item in ViewBag.Localisations)
    {
        <tr>
            <td>
                <form asp-area="Inventaire" asp-controller="Local_Fourniture" asp-action="UpdateLocal" method="get">
                    <input type="text" name="id" value="@item.ID" style="display:none;" />
                    <textarea name="nom">@item.Nom</textarea>
                    <input type="submit" value="Modifier" />
                </form>
                <a asp-area="Inventaire" asp-controller="Local_Fourniture" asp-action="DeleteLocal" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
    }
</table>
<br />

<table>
    @foreach (Fourniture item in ViewBag.Fournitures)
    {
    <tr>
        <td>
            <form asp-area="Inventaire" asp-controller="Local_Fourniture" asp-action="UpdateFournit" method="get">
                <input type="text" name="id" value="@item.ID" style="display:none;" />
                <textarea name="nom">@item.Nom</textarea>
                <input type="submit" value="Modifier" />
            </form>
            <a asp-area="Inventaire" asp-controller="Local_Fourniture" asp-action="DeleteFournit" asp-route-id="@item.ID">Supprimer</a>
        </td>
    </tr>
    }
</table>