@model Mobilier

    <br />
    <h4>Detail sur le mobilier</h4>
    <br />
    <a asp-area="Inventaire" asp-controller="Mobilier" class="btn btn-outline-primary" asp-action="Index">Retour aux mobiliers</a>
    <br />
    <br />


    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => Model.ID)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => Model.ID)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => Model.Description)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => Model.Description)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => Model.Quantite)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => Model.Quantite)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => Model.Localisation)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => Model.Localisation)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => Model.Etat)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => Model.Etat)</dd>

        <dt class="col-sm-3">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a asp-area="Inventaire" asp-controller="Mobilier" asp-action="Update" asp-route-id="@Model.ID" class="btn btn-info">Modifier</a>
                <a asp-area="Inventaire" asp-controller="Mobilier" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Supprimer</a>
            </div>
        </dt>
    </dl>