@model Diagnostique

<h5>Description du materiel : @Model.Materiel.Description</h5>
<h5>Marque du materiel : @Model.Materiel.Marque</h5>

<form asp-area="Inventaire" asp-controller="Diagnostique" asp-action="Update" asp-route-idmat="@Model.MaterielID" asp-route-id="@Model.ID" method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Description"></label>
            </td>
            <td>
                <input asp-for="Description" />
                <span asp-validation-for="Description" class="message"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Quantite"></label>
            </td>
            <td>
                <input asp-for="Quantite" placeholder="Saisissez un nombre!" />
                <span asp-validation-for="Quantite" class="message"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Etat"></label>
            </td>
            <td>
                <input asp-for="Etat" />
                <span asp-validation-for="Etat"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Besoin"></label>
            </td>
            <td>
                <input asp-for="Besoin" />
                <span asp-validation-for="Besoin"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="DateDiagnostique"></label>
            </td>
            <td>
                <input asp-for="DateDiagnostique" />
                <span asp-validation-for="DateDiagnostique"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Enregistrer" />
            </td>
        </tr>
    </table>
</form>

<a asp-area="Inventaire" asp-controller="Materiel" asp-action="Detail" asp-route-id="@ViewBag.IDMateriel">Retour au materiel</a>